.App {
  padding: 1rem;
}

.grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.required {
  position: relative;
}

.required:after {
  content: '*';
  color: hsl(0, 75%, 50%);
  position: absolute;
  right: -1em;
  top: calc(50% - 0.5em);
}

#word {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  #word {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #word {
    grid-template-columns: repeat(1, 1fr);
  }
}

.definition .grid {
  grid-template-columns: auto auto 1fr auto;
  column-gap: 0;
}

.definition .grid button.deleteDefinition {
  background-color: hsl(10, 50%, 80%);
  color: hsl(10, 20%, 30%);
}

.definitionItem .grid {
  border-left: 2px hsl(200, 20%, 80%) solid;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.definitionItem .grid button {
  align-self: flex-end;
  background-color: hsl(10, 50%, 80%);
  color: hsl(10, 20%, 30%);
}

.addDefinitionItem {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.addDefinitionItem button {
  background-color: hsl(80, 70%, 60%);
}

.example.grid {
  grid-template-columns: 1fr 1fr 1fr auto;
}

@media screen and (max-width: 480px) {
  .example.grid {
    grid-template-columns: 1fr;
  }
}

.reference.grid,
.synonym.grid {
  grid-template-columns: 1fr auto;
}

.addDefinition {
  background-color: hsl(80, 70%, 60%);
}

.App footer {
  grid-template-columns: 1fr auto 1fr;
  border-top: 1px solid hsl(200, 50%, 80%);
  background-color: hsl(50, 20%, 85%);
  margin: 1rem -1rem -1rem -1rem;
  padding: 1rem;
}

.App footer .submit {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  background-color: hsl(200, 80%, 50%);
  color: hsl(200, 50%, 95%);
}
